

#div_body {
	position:absolute;
	left:50%;
	top:10%;
	text-align: center;
	padding: 2px;
	margin-left: -110px;
	font-size: 14px;
	font-family: Verdana;
	
	}

	
.btnx {
	width: 200px;
	background-color: GREEN;
	text-align: center;
	padding: 3px;
	color: WHITE;
	font-size: 14px;
}

th, td {
	padding: 5px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}